h1 {
  text-align:center;
}

#board {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  gap:5px;
  background-color:black;
  width:400px;
  height:400px;
}

.piece {
  text-align:center;
  height:100%;
  user-select:none;
}

.square {
  background: white;
  font-size:5em;
}

.square:hover {
  /* background:lightslategrey; */
  border: 5px solid lightpink;
  transition: all 0.15s ease;
  cursor:pointer;
}

#notification {
  margin: 0 auto;
  text-align:center;
  display:block;
}

.ui {
  display:flex;
  justify-content: center;
}

#start {
  padding:0.5em 1em;
  text-align:center;
  width: 350px;
  font-size:2em;
  background: lightgreen;
  margin: 0.5em auto;
  border-radius:5px;
  user-select:none;
}

#start:hover {
  opacity:0.8;
  cursor:pointer;
}